@font-face {
    font-family: Ember;
    src: url(./amazon-web-fonts/Ember/AmazonEmber_Lt.ttf);
}
@font-face {
    font-family: Ember;
    src: url(./amazon-web-fonts/Ember/AmazonEmber_Bd.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Ember;
    src: url(./amazon-web-fonts/Ember/AmazonEmber_LtIt.ttf);
    font-style: italic;
}
body {
    background-color: #f4f5f6;
    font-family: Ember;
    color: #2a2a2a;
}

h1, h2, h3, h4{
    line-height: 40%;
}


h4{
    font-weight: normal;
}

.header{
    background-color:#232f3e;
    color: white;
    padding: 20px;
    margin: 20px 0px 0px 200px;
    line-height: 1.6
}
.header a {
    color: white;
    font-size: 24px
}
.header a:hover{
    color: #FCA311
}

div.content{
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px 0px 0px 200px;
    line-height: 1.6;
    }


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232f3e;
    overflow-x: hidden;
  }
    
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #FCA311;
    color: black;
  }

  img{
      max-width: 30px;
      max-height: 30px;
  }
  
  /* Style the content */
  
